body,html{
	height: 100%;
	margin: 0px;
	font-family: "Montserrat Light",sans-serif;
}
.cover{
	/*position: relative;*/
	/*opacity:0.85;*/
	background: url("/static/img/sun.jpg") no-repeat fixed center;
	background-size: cover;
	padding-bottom: 10%;
}
.join{
	margin-top:110px;
}
.join h1{
	font-family: "Raleway",sans-serif;
	font-weight: 300;
	color: white;
}
.join p
{  font-family: "ABeeZee",sans-serif;
    color: white;
	font-weight: 200;
}
.join a{
	text-transform: uppercase;
	font-family: "ABeeZee",sans-serif;
}
.center{
	color:white;
	margin-left: 250px;
}
.join img{
	width:110px;
	height: 110px;
	border-radius: 320px;
	border:2px solid white;
}
.search{
	margin-top: 50%;
}
.small-search {
	width: 100%;
}
.find{
	width:200px;
}
.featured{
	margin-top: 20px;
}

.btn{
 border:none;
 border-radius:1px;
}
.card:hover{
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card{
	margin-bottom: 5%;
}
.down{
	margin-top: 22%;
	color: white;
}